body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./images/weatherboard-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    color: black; 
}

header {

    background-color: white;
    text-align: center;
    padding: 50px;
}

#title {
    text-align: center;
}
main {
    float: right;
    width: 75%;
    height: 100vh;
}

#current-weather-container {
    border: solid black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    border-radius: 25px;

}

#search {
    width: 23%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 10px;

}

#search-bar {
    height: 30px;
    margin: 20px;
}

#search-btn {
    width: 50%;
    margin: 20px;
    border: solid black;
    border-radius: 5px;
}

#future-container {
    display: flex;
    flex-direction: row;
}

.future-card {
    padding: 20px;
    border: solid black;
    width: 20%;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    border-radius: 25px;

}

.city-history {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid black;
    border-radius: 5px;
}

.city-history:hover {
    background-color: #e4f2f7;
}

#search-hist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-container {
    display: none;
}